<script setup lang="ts">
import { onMounted, ref } from "vue";
import { useRouter } from 'vue-router'

// Liste de tout les films
const allFilms = ref([]);
const currentPage = ref(1);
let totalPages = 1;
let totalFilmsCount = 0; // Nombre total de films
const selectedGenre = ref('');
const selectedGenreName = ref('');
const genres = ref([]);



const films = ref([]);
const apiKey = "73cc8cf95ac74e10f4bd6784be9d389e"; // Remplacez par votre clé d'API TMDb


// Méthode pour récupérer l'URL de l'affiche d'un film
const getMovieImg = (posterPath) => {
  if (posterPath) {
    return `https://image.tmdb.org/t/p/w200${posterPath}`;
  } else {
    return './public/Noimage.svg.png';
  }
};

// Méthode pour récupérer les films
const fetchAllFilms = async () => {
  try {
    const response = await fetch(`https://api.themoviedb.org/3/discover/movie?api_key=${apiKey}&language=fr-FR&page=${currentPage.value}`);
    const data = await response.json();

    if (data && data.results) {
      allFilms.value = data.results;
      totalPages = data.total_pages;
      totalFilmsCount = data.total_results; // Met à jour le nombre total de films
      console.log(allFilms.value);
    }
  } catch (error) {
    console.error("Erreur lors de la récupération des données des films :", error);
  }
};

const previousPage = () => {
  if (currentPage.value > 1) {
    currentPage.value -= 1;
    fetchAllFilms();
  }
};
const nextPage = () => {
  if (currentPage.value < totalPages) {
    currentPage.value += 1;
    fetchAllFilms();
  }
};

// Méthode pour récupérer les genres de films depuis votre API
const fetchGenres = async () => {
  try {
    const response = await fetch(`https://api.themoviedb.org/3/genre/movie/list?api_key=${apiKey}&language=fr-FR`);
    const data = await response.json();
    genres.value = data.genres;
  } catch (error) {
    console.error("Erreur lors de la récupération des genres de films :", error);
  }
};

const filterByGenre = async () => {
  if (selectedGenre.value) {
    try {
      const response = await fetch(`https://api.themoviedb.org/3/discover/movie?api_key=${apiKey}&language=fr-FR&page=${currentPage.value}&with_genres=${selectedGenre.value}`);
      const data = await response.json();
      if (data && data.results) {
        allFilms.value = data.results;
        totalFilmsCount = data.total_results;
        selectedGenreName.value = genres.value.find(genre => genre.id === selectedGenre.value)?.name || '';
      }
    } catch (error) {
      console.error("Erreur lors de la récupération des données des films :", error);
    }
  } else {
    await fetchAllFilms();
  }
};

onMounted(async () => {
  await fetchAllFilms();
  await fetchGenres();
});
</script>

<template>
  <div>
    <div class="accueil">
      Bienvenue sur notre site
    </div>



    <h2 class="films-title">Tous les films{{ selectedGenre ? ' : ' + selectedGenreName : '' }}  ({{ totalFilmsCount }})</h2>
    <div class="genre-dropdown">
      <select v-model="selectedGenre" @change="filterByGenre">
        <option value="">Tous les genres</option>
        <option v-for="genre in genres" :key="genre.id" :value="genre.id">{{ genre.name }}</option>
      </select>
    </div>

    <div class="all-films">
      <div v-for="movie in allFilms" :key="movie.id" class="column is-one-fifth">
        <router-link :to="{ name: 'MovieDetails', params: { id: movie.id }}">
        <div class="film-item">
          <img :src="getMovieImg(movie.poster_path)" alt="Affiche du film" class="movie-poster" />
          <p class="movie-title">{{ movie.title }}</p>
        </div>
        </router-link>
      </div>

    </div>
  </div>

  <div class="pagination">
    <button @click="previousPage" :disabled="currentPage === 1">Précédent</button>
    <span>Page {{ currentPage }} / {{ totalPages }}</span>
    <button @click="nextPage" :disabled="currentPage === totalPages">Suivant</button>
  </div>


</template>

<style scoped>


.accueil {
  display: flex;
  align-items: center;
  justify-content: center;
}


.film-item {
  margin: 0; /* Espace entre les films */
  text-align: center; /* Centrer le texte */
}

.movie-poster {
  width: 200px; /* Uniformiser la largeur des images */
  height: 300px; /* Permettre à la hauteur de s'ajuster automatiquement */
  margin-bottom: 5px; /* Ajouter une marge inférieure entre les images */
}

.all-films {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.all-films .column {
  flex: 0 0 calc(20% - 20px); /* 20% pour chaque colonne avec une marge de 20px entre elles */
  margin: 5px;
}

.movie-title {
  font-size: 18px; /* Définir la taille de la police */
  font-weight: bold; /* Définir l'épaisseur de la police */
  color: #333; /* Définir la couleur du texte */
}

.films-title {
  display: inline-block; /* Permet à l'élément d'occuper seulement l'espace dont il a besoin */
  margin-top: 30px;
  font-size: 36px; /* Augmenter la taille du titre */
  font-weight: bold;
  color: #333; /* Couleur du texte */
}

.genre-dropdown {
  margin-left: auto; /* Déplace le menu déroulant vers la droite */
}
</style>