<script setup lang="ts">
import { onMounted, ref } from "vue";

const films = ref([]);
const apiKey = "73cc8cf95ac74e10f4bd6784be9d389e"; // Remplacez par votre clé d'API TMDb
const searchMovie = ref("");

onMounted(async () => {
  await searchFilms();
});
const searchFilms = async () => {
  try {
    const response = await fetch(`https://api.themoviedb.org/3/search/movie?api_key=${apiKey}&query=${searchMovie.value}&language=fr-FR`);
    const donnees = await response.json();

    if (donnees && donnees.results) {
      films.value = donnees.results;
      console.log(films.value);
    }
  } catch (error) {
    console.error("Erreur lors de la récupération des données :", error);
  }
};

const getMovieImg = (posterPath) => {
  if (posterPath) {
    // Construire l'URL complet de l'affiche en utilisant le domaine de base des images TMDb
    return `https://image.tmdb.org/t/p/w200${posterPath}`;
  } else {
    // Si le chemin de l'affiche est manquant, vous pouvez afficher une image par défaut ou gérer le cas de manière appropriée.
    return './public/Noimage.svg.png';
  }
};

const submitForm = async () => {
  await searchFilms();
};
</script>

<template>
  <div>
    <h1 class="title">Recherche de films</h1>
    <form @submit.prevent="submitForm" class="search-box">
      <input v-model="searchMovie" class="input" type="text" placeholder="Recherche de film" @input="searchFilms"/>
    </form>

    <div v-if="films.length > 0" class="body columns is-multiline">
      <div v-for="movie in films" :key="movie.id" class="column is-one-fifth">
        <router-link :to="{ name: 'MovieDetails', params: { id: movie.id }}">
        <div class="film-item">
          <img :src="getMovieImg(movie.poster_path)" alt="Affiche du film" class="movie-poster"/>
          <p class="movie-title">{{ movie.title }}</p>
        </div>
        </router-link>
      </div>
    </div>


    <div v-else-if="searchMovie" class="no-results">
      Aucun résultat trouvé pour "{{ searchMovie }}"
    </div>
    <div v-else class="no-search">
      Entrez un titre de film pour commencer la recherche
    </div>
  </div>


</template>

<style >
  .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .search-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    align-items: center;
    margin-bottom: 20px;
  }
    .input {
      display: block;
      appearance: none;
      flex: 1; /* Ajustez la taille de l'input */
      border: 2px solid #ccc;
      transition: border-color 0.3s;
      padding: 10px 15px; /* Ajustez le padding */
    }

    .input:focus {
      border-color: #42B883;
    }

    &[type="text"]{
      width: 100%;
      color: #FFF;
      background-color: #FFF;
      font-size: 20px;
      padding: 10px 15px;
      border-radius: 8px;
      margin-bottom: 15px;
      transition: 0.4s;
  }

  .body {
    justify-content: center;
  }

  .film-item {
    text-align: center;
    margin-bottom: 20px;
  }

  .movie-poster {
    width: 200px; /* Laisser la largeur s'ajuster automatiquement */
    height: 300px; /* Définir la hauteur fixe de l'image */
    object-fit: cover; /* Ajuster l'image pour remplir la hauteur fixée */
  }

  .movie-title {
    font-size: 18px; /* Définir la taille de la police */
    font-weight: bold; /* Définir l'épaisseur de la police */
    color: #333; /* Définir la couleur du texte */
  }

  .no-results,
  .no-search {
    text-align: center;
    margin-top: 20px;
    font-style: italic;
  }

</style>

