<script setup lang="ts">
// Propriété pour recevoir les détails du film
const movie = props;


</script>

<template>
  <div class="modal">
    <!-- Contenu du modal avec les détails du film -->
    <div class="modal-content">
      <h2>{{ movie.title }}</h2>
      <p>{{ movie.overview }}</p>
      <!-- Afficher d'autres détails du film ici -->
    </div>
    <!-- Bouton pour fermer le modal -->
    <button @click="$emit('close')">Fermer</button>
  </div>
</template>

<style scoped>

</style>