<script setup lang="ts">
import { ref, onMounted } from 'vue';
import { useRoute, RouterLink } from 'vue-router';


const movie = ref(null);
const apiKey = "73cc8cf95ac74e10f4bd6784be9d389e";

// Méthode pour récupérer les détails du film depuis votre API en utilisant l'ID du film
const fetchMovieDetails = async () => {
  const route = useRoute();
  const movieId = route.params.id;

  try {
    const response = await fetch(`https://api.themoviedb.org/3/movie/${movieId}?api_key=${apiKey}&language=fr-FR&append_to_response=credits`);
    const data = await response.json();
    movie.value = data;
  } catch (error) {
    console.error("Erreur lors de la récupération des détails du film :", error);
  }
};

const formatDate = (dateString) => {
  const date = new Date(dateString);
  return date.toLocaleDateString('fr-FR', { year: 'numeric', month: 'long', day: 'numeric' });
};

const getGenres = (genres) => {
  if (genres && genres.length > 0) {
    return genres.map(genre => genre.name).join(', ');
  }
  return 'Non spécifié';
};

const getMovieImg = (posterPath) => {
  if (posterPath) {
    return `https://image.tmdb.org/t/p/w200${posterPath}`;
  } else {
    return './public/Noimage.svg.png';
  }
};

const getActorImg = (profilePath) => {
  if (profilePath) {
    return `https://image.tmdb.org/t/p/w200${profilePath}`;
  } else {
    return './public/Noimage.svg.png';
  }
};

onMounted(() => {
  fetchMovieDetails();
});
</script>

<template>
  <div>
    <h1 class="movie-title" v-if="movie">{{ movie.title }}</h1>
    <div v-if="movie" class="movie-container">
      <div class="movie-poster-container">
        <img :src="getMovieImg(movie.poster_path)" :alt="movie.title" class="movie-poster" />
      </div>
      <div class="movie-details">
        <h2>Description:</h2>
        <p>{{ movie.overview }}</p>
        <p><strong>Date de publication:</strong> {{ formatDate(movie.release_date) }}</p>
        <p><strong>Genre:</strong> {{ getGenres(movie.genres) }}</p>
      </div>
    </div>
    <div v-else>
      <p>Loading...</p>
    </div>
    <h2>Acteurs:</h2>
    <div class="actor-list-container" v-if="movie && movie.credits">
      <ul class="actor-list">
        <li v-for="(actor, index) in movie.credits.cast.slice(0, 10)" :key="actor.id" class="actor-item">
          <router-link :to="{ name: 'ActorDetails', params: { id: actor.id } }">
            <img :src="getActorImg(actor.profile_path)" :alt="actor.name" class="actor-img" />
          </router-link>
          <span class="actor-name">{{ actor.name }}</span>
        </li>
      </ul>
    </div>
    <div v-else>
      <p>Loading...</p>
    </div>
  </div>
</template>

<style scoped>
.movie-title {
  text-align: center; /* Centrer le titre horizontalement */
  margin-top: 20px; /* Ajouter de l'espace au-dessus du titre */
  margin-bottom: 50px;
  font-size: 24px; /* Modifier la taille du titre */
}

.movie-container {
  display: flex;
}

.movie-poster-container {
  flex: 1; /* Prend le maximum d'espace disponible */
  margin-right: 20px; /* Ajoute de l'espace entre l'image et la description */
}

.movie-details {
  flex: 2; /* Prend deux fois moins d'espace que l'image */
}

.movie-poster {
  width: 300px; /* Remplir tout l'espace disponible */
  height: auto; /* Permettre à la hauteur de s'ajuster automatiquement */
  margin-bottom: 50px;
}

.movie-details h2 {
  font-size: 20px; /* Taille du titre de la description */
}

.movie-details p {
  margin-bottom: 10px; /* Ajouter de l'espace entre les paragraphes */
}

.actor-list-container {
  margin-top: 20px; /* Ajouter de l'espace au-dessus de la liste des acteurs */
}

.actor-list {
  list-style-type: none; /* Supprimer les puces de la liste */
  padding: 0; /* Supprimer les marges de la liste */
  display: flex; /* Afficher les éléments de la liste en ligne */
  flex-wrap: nowrap; /* Empêcher le saut de ligne */
}

.actor-item {
  margin-right: 10px; /* Ajouter de l'espace entre les éléments de la liste */
}

.actor-img {
  width: 100px; /* Largeur fixe pour toutes les images */
  height: 150px; /* Hauteur fixe pour toutes les images */
  object-fit: cover; /* Ajustement de la taille */
  object-position: center; /* Position de l'image centrée */
  margin-right: 10px; /* Marge à droite pour l'espace entre l'image et le nom de l'acteur */
}


.actor-name {
  font-weight: bold; /* Mettre le nom de l'acteur en gras */
}
</style>