<script setup lang="ts">
import { RouterView } from 'vue-router'
import Navbar from "@/components/Navbar.vue";
</script>

<template>
  <div id="app">
    <header>
      <Navbar />
    </header>

    <main>
      <div class="router-view-container">
        <RouterView />
      </div>
    </main>
  </div>

</template>

<style scoped>
.router-view-container {
  margin-top: 60px; /* Ajustez la hauteur de votre barre de navigation */
}

#app {
  background-color: #f2f2f2;
  color: #333; /* Couleur du texte sur l'arrière-plan */
  min-height: 100vh; /* Assurez-vous que l'arrière-plan couvre toute la hauteur de la fenêtre */
}
</style>
